---
---
@import "jekyll-theme-primer";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-sans: "Montserrat", sans-serif;

/* Global & Reset */
body {
  color: #222;
  margin: 0;
  background-color: #cfcac6;
  font-family: $font-family-sans;
  font-optical-sizing: auto;
  font-weight: 500; // Regular weight
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, .post-title {
  font-family: $font-family-sans;
  font-weight: 900; // Bold weight for headings
  letter-spacing: -0.02em; // Montserrat looks great slightly tightened in headings
}

/* Overriding Primer Theme Table Styles */
.markdown-body table, 
.markdown-body table tr, 
.markdown-body table td, 
.markdown-body table th {
  background-color: #cfcac6 !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

/* This removes the "Zebra Striping" (alternating grey/white rows) */
.markdown-body table tr:nth-child(2n) {
  background-color: #cfcac6 !important;
}

.markdown-body table {
  width: 100% !important;        /* This stretches the table to fill the space */
  display: table !important;     /* Ensures it behaves as a standard table */
  margin-left: 0 !important;      /* Removes any leftover left-side gaps */
  margin-right: 0 !important;     /* Removes any leftover right-side gaps */
}